$background-color: #121212;
$elevation-0-color: darken(white, 95%);
$elevation-1-color: darken(white, 90%);
$elevation-2-color: darken(white, 87.5%);
$elevation-3-color: darken(white, 85%);
$elevation-4-color: darken(white, 82.5%);
$elevation-5-color: darken(white, 80%);
$elevation-6-color: darken(white, 77.5%);
$elevation-7-color: darken(white, 75%);
$elevation-8-color: darken(white, 72.5%);
$elevation-9-color: darken(white, 70%);
$text-color: white;

$green: #10ac84;
$red: #ee5253;
$yellow: #feca57;
$orange: #ff9f43;
$purple: #5f27cd;
$blue: #2e86de;
$silver: #d7d7d7;
$pink: #d11f91;
$cyan: #1fd1d1;

$dark-matter-1: #332BA6;
$dark-matter-2: #9D75DF;

$nebula-1: $pink;
$nebula-2: $cyan;

$abyss-1: #70CD91;
$abyss-2: #2566AA;

$border-radius: 3px;
$transition: 0.25s ease;
$font-family: Inter, sans-serif;
$container-width: 1400px;

$mobile: 480px;
$tablet: 1100px;

$military-gradient: url('/military-gradient.svg');
$special-gradient: url('/special-gradient.svg');

$molten-gold-gradient: url('/molten-gold-gradient.svg');
$moonstone-gradient: url('/moonstone-gradient.svg');
$chroma-flux-gradient: url('/chroma-flux-gradient.svg');
$genesis-gradient: url('/genesis-gradient.svg');

$shattered-gold-gradient: url('/shattered-gold-gradient.svg');
$arclight-gradient: url('/arclight-gradient.svg');
$tempest-gradient: url('/tempest-gradient.svg');
$singularity-gradient: url('/singularity-gradient.svg');

$golden-dragon-gradient: url('/golden-dragon-gradient.svg');
$bloodstone-gradient: url('/bloodstone-gradient.svg');
$doomsteel-gradient: url('/doomsteel-gradient.svg');
$infestation-gradient: url('/infestation-gradient.svg');

$golden-damascus-gradient: url('/golden-damascus-gradient.svg');
$starglass-gradient: url('/starglass-gradient.svg');
$absolute-zero-gradient: url('/absolute-zero-gradient.svg');
$apocalypse-gradient: url('/apocalypse-gradient.svg');